@import "tailwindcss";

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p { margin: 1.12em 0 }

a {
    color: blue;
}

.ReactModal__Body--open {
    overflow: hidden;
}

.entry {
    @apply p-2;
    @apply border-2 border-hidden rounded-sm;
    @apply text-slate-700;
}
.entry.entry-active {
    @apply border-solid;
    @apply text-inherit;
}
