@import "tailwindcss";

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h2 {
    font-size: 1.5em;
}

p { margin: 1.12em 0 }

a {
    color: #355e3b;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

abbr:where([title]) {
    cursor: help;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1em 2px;
    padding: 0.1em 6px;
    font-style: italic;
}
blockquote p {
    margin: 0;
}

.ReactModal__Body--open {
    overflow: hidden;
}

.map {
    position: fixed;
    z-index: 1;
    width: 425px;
    transition: width 0.3s ease-in-out;
}
.map.closed {
    width: 0;
}

.toggle-map {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 3px 0;
    box-sizing: content-box;
    font-size: 1.5em;
    color: brown;
    background-color: #f0c564;
    cursor: pointer;
    z-index: 1000;
}
.toggle-map.closed {
    transform: translateX(100%);
}
@media screen and (max-width: 768px) {
    main {
        overflow-x: hidden;
    }
    .map {
        width: 100vw;
    }
    .articles {
        width: 100%;
    }
}

.articles {
    margin-left: 425px;
    padding: 10px;
}
.articles.full {
    margin-left: 0;
}

.entry {
    @apply p-2;
    @apply border-2 border-hidden rounded-sm;
    @apply text-slate-700;
}
.entry.entry-active {
    @apply border-solid;
    @apply text-inherit;
}
