@import "tailwindcss";

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h2 {
    font-size: 1.5em;
}

p { margin: 1.12em 0 }

a {
    color: blue;
}

abbr:where([title]) {
    cursor: help;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1em 2px;
    padding: 0.1em 6px;
    font-style: italic;
}
blockquote p {
    margin: 0;
}

.ReactModal__Body--open {
    overflow: hidden;
}

.entry {
    @apply p-2;
    @apply border-2 border-hidden rounded-sm;
    @apply text-slate-700;
}
.entry.entry-active {
    @apply border-solid;
    @apply text-inherit;
}
